{% extends 'partition/base.html' %}
{% block css %}
    {% include 'partition/css.html' %}
{% endblock %}
{% block sidebar %}
    {% include 'partition/sidebar.html' %}
{% endblock %}

<!-- Page Content  -->
{% block contents %}
{% block navbar %}
    {{ super() }}
    <div class="card p-3">
        <h4 class="card-title">The best music store for free</h4>
        <p class="card-text">Here you can:</p>
        <li>View and update the music items</li>
        <li>Login and Register user</li>
        <li>Make order</li>
        <li>Show order history</li>
        <li>Use api or web for all</li>
        <div>
            <a href="https://telegram.me/dartputin"><button class="btn btn-outline-secondary my-2">Contact Author?</button></a>
        </div>
    </div>
{% endblock navbar %}
{% endblock contents %}

{% block javascript %}
    {% include 'partition/js.html' %}

    <!-- app js -->
    <script src="{{ static('js/app.js') }}"></script>
{% endblock %}