<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ heading|default }} | Music store</title>
    {% block extra_css %}
    {% endblock %}
    {% block css %}
    {% endblock %}
</head>
<body>
<div class="d-block">
    {% block header %}
        {% include 'partition/header.html' %}
    {% endblock %}
    {% block sidebar %}
        {% include 'partition/sidebar.html' %}
    {% endblock %}
    {% block contents %}
    {% endblock %}
</div>
{% block footer %}
{% endblock %}
{% block javascript %}
{% endblock %}
</body>
</html>