<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ heading|default }} | Music store</title>
    {% block extra_css %}
    {% endblock %}
    {% block css %}
    {% endblock %}
</head>
<body>
<div class="wrapper">
    {% block sidebar %}
    {% endblock %}

    <div id="content">
        {% block contents %}
            {% block navbar %}
            {% endblock %}
        {% endblock %}
    </div>
    {% block footer %}
    {% endblock %}
</div>
{% block javascript %}
{% endblock %}
</body>
</html>