<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ heading|default }} | Music store</title>
    {% include 'partition/css.html' %}
    <link href="{{ static('css/login.css') }}" id="bootstrap-style" rel="stylesheet" type="text/css" />
</head>
<body class="text-center">
    <form class="form-signin" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
             height="72">
        <h1 class="h3 mb-3 font-weight-normal">Registration</h1>
        {% for error in form.errors['__all__'] %}
            <p class="alert-danger alert small">{{ error }}</p>
        {% endfor %}
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block">Sign up</button>
        <a href="{{ url('sing_in') }}"><button type="button" class="btn btn-lg btn-outline-secondary btn-block">Sign in</button></a>
        <p class="mt-5 mb-3 text-muted">Powered by. <a href="https://getbootstrap.com/">Bootstrap</a></p>
    </form>
</body>
</html>